<h1>Sign up to create your Idea!</h1>
<%if !@user.errors.empty?%>
<p>
  Please correct the below errors:
</p>
  <%@user.errors.full_messages.each_with_index do |message, index|%>
    <%=index+1%>. <%= message%><br/></span>
  <%end%>
<%end%>

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.label :first_name, class: "control-label col-sm-4" %>
  <div class="col-sm-6">
    <%= f.text_field :first_name, class: "form-control" %> <br/>
  </div>
</div>

<div>
  <%= f.label :last_name, class: "control-label col-sm-4"  %>
  <div class="col-sm-6">
    <%= f.text_field :last_name, class: "form-control"  %> <br/>
  </div>
</div>

<div>
  <%= f.label :email, class: "control-label col-sm-4" %>
  <div class="col-sm-6">
    <%= f.email_field :email, class: "form-control" %> <br/>
  </div>
</div>

<div>
  <%= f.label :password, class: "control-label col-sm-4" %>
  <div class="col-sm-6">
    <%= f.password_field :password, class: "form-control" %> <br/>
  </div>
</div>

<div>
  <%= f.label :password_confirmation, class: "control-label col-sm-4" %>
  <div class="col-sm-6">
    <%= f.password_field :password_confirmation, class: "form-control"  %><br/>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-4 col-sm-10">
    <%= f.submit "Sign me Up!", class: "btn btn-primary" %>
  </div>
</div>
<%end%>
