<!DOCTYPE html>
<html>
<head>
  <title>Mallinath's Idea Factory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;"> <!-- navbar-inverse for a black top bar-->
    <div class="navbar-inner"
      <div class="container" >
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand navbar-left" href="/home">Idea Factory</a>
          <div class="nav-collapse">
            <ul class="nav navbar-nav navbar-left nav-collapse">
              <li><%= link_to "New Idea", new_idea_path %> </li>
              <li><%= link_to "All Ideas", ideas_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-collapse">
              <%if user_signed_in? %>
                <li>Hello <%= current_user.first_name %>!</li>
                <li><%= link_to "My Liked Ideas", likes_path%></li>
                <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_session_path %></li>
                <li><%= link_to "Sign Up", new_user_path %></li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, msg|%>
      <div class="alert alert-<%= name == "notice" ? "success" : "danger"%>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg%>
      </div>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
